<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cordys.crm.dashboard.mapper.ExtDashboardModuleMapper">

    <select id="countByName" resultType="java.lang.Integer">
        select count(id) from dashboard_module
        where name = #{name}
          and organization_id = #{orgId}
          and parent_id = #{parentId}
        <if test="id != null and id != ''">
            and id != #{id}
        </if>
    </select>

    <select id="getNextPosByOrgId" resultType="java.lang.Long">
        SELECT max(pos)
        FROM dashboard_module
        where organization_id = #{orgId}
    </select>


    <select id="countDefaultModuleByIds" resultType="java.lang.Integer">
        SELECT
        count(id)
        FROM
        dashboard_module
        WHERE
        id IN
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND parent_id = 'NONE'
        and organization_id = #{orgId}
    </select>

    <select id="countDashboardByIds" resultType="java.lang.Integer">
        select count(id)
        from dashboard
        where dashboard_module_id in
        <foreach collection="dashboardModuleIds" item="dashboardModuleId" index="index" open="(" close=")" separator=",">
            #{dashboardModuleId}
        </foreach>
        and organization_id = #{orgId}
    </select>


    <select id="selectTreeNode" resultType="cn.cordys.crm.dashboard.dto.DashboardTreeNode">
        SELECT id, name, parent_id, organization_id, 'MODULE' AS type
        FROM dashboard_module
        where organization_id = #{orgId}
        ORDER BY pos
    </select>

    <select id="selectChildrenIds" resultType="java.lang.String">
        SELECT id FROM dashboard_module WHERE parent_id  = #{parentId}
        ORDER BY pos ASC
    </select>

    <update id="batchUpdate">
        UPDATE dashboard_module
        SET pos = CASE
        <foreach collection="dashboardModules" item="dashboardModule" separator=" ">
            WHEN id = #{dashboardModule.id} THEN #{dashboardModule.pos}
        </foreach>
        END
        WHERE id IN
        <foreach collection="dashboardModules" item="dashboardModule" open="(" close=")" separator=",">
            #{dashboardModule.id}
        </foreach>
    </update>

    <select id="selectBaseModuleById" resultType="cn.cordys.common.dto.BaseTree">
        SELECT id, name, pos, organization_id, parent_id
        FROM dashboard_module
        WHERE id = #{dragNodeId}
    </select>


    <select id="selectModuleByParentIdAndPosOperator"
            parameterType="cn.cordys.common.dto.NodeSortQueryParam"
            resultType="cn.cordys.common.dto.BaseTree">
        SELECT id, name, pos, organization_id, parent_id
        FROM dashboard_module
        WHERE parent_id = #{nodeSortQueryParam.parentId}
        <if test="nodeSortQueryParam.operator == 'moreThan'">
            AND pos &gt; #{nodeSortQueryParam.pos}
        </if>
        <if test="nodeSortQueryParam.operator == 'lessThan'">
            AND pos &lt; #{nodeSortQueryParam.pos}
        </if>
        ORDER BY pos
        <if test="nodeSortQueryParam.operator == 'lessThan' or nodeSortQueryParam.operator == 'latest'">
            DESC
        </if>
        LIMIT 1
    </select>
</mapper>